#header{
  background-color: #B8B8B8;
  height: 35px;
  border-radius: 5px 5px 5px 5px;
}

body {
  font-size: 20px;
  font-family: helvetica;
}

#buttons {
  margin: 0 auto;
  width: 450px;
}

.pannel {
  float: left;
  border: 1px solid grey;
  border-right: none;
  width: 95px;
  text-align: center;
  height:29px;
  padding-top: 5px;
}

#mark {
  float: left;
  padding-top: 5px;
  padding-left: 5px;
}

#htmlPanel {
  border-radius:5px 0px 0px 5px;
}

#outputPanel {
  border-radius:0px 5px 5px 0px;
  border-right:1px solid grey;
}

.hoovered {
  background-color: #909090;
}

.active {
  background-color: #3366ff;

}

.visible4{
  width: 87%;
  height: 92vh;
}

textarea{
  resize: none;
  }


.hidden {
  display: none;
}

.visible1 {
  width: 49%;
  height: 92vh;
  border: none;
  border-right: 1px solid grey;
}

.visible2{
  width: 30%;
  height: 92vh;
  border: none;
  border-right: 1px solid grey;
}

.visible3 {
  width: 24%;
  height: 92vh;
  border: none;
  border-right: 1px solid grey;
}

.visible5 {
  width :80%;
  height: 92vh;
}